/**/node_modules/
/dist/
/.git/
/app/css/
/**/_backstage
/**/package-lock.json
/**/Thumbs.db
/**/*.DS_Store
/**/debug.log
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/dist
/app/.DS_Store
.DS_Store
app/img/.DS_Store

# package-lock.json
package-lock.json
