@media only screen and (max-width : 1100px)
    body
        // overflow: hidden
    .login-image
        margin:  20px
        display: flex
        justify-content: center
    .login-container
        
        margin: 20px auto
        display: flex
        flex-direction: column-reverse
        align-items: center
        padding: 0 20px
    .login-col.image
        max-width: 620px
        // height: 350px
        margin: 0 20px
    .login-col.first
        margin-left: 0
        margin-right: 0
        max-width: 95%
        text-align: center
        margin-top: 30px
        padding-top: 0   

    .login-subtitle
        margin: auto

    .image-login
        max-width: 100%
        width: 100%
        // height: 350px

    .login-text
        font-size: 30px

    .eye-icon
        top: 42%



@media only screen and (max-width : 600px) 
    .login-container
        margin: 70px auto
    .login-text_remember
        font-size: 18px    
    .login-text
        font-size: 26px    
    .wrapper-info_forgot
        font-size: 14px    