.wrapper-input_search
    margin-top: 104px
    display: flex
    justify-content: space-between
    max-width: 850px

.input-search
    max-width: 620px
    width: 100%
    position: relative
    input
        box-sizing: border-box
        background-color: #FFFFFF
        
        font-size: 18px
        padding: 17px
        width: 100%
        border: 1px solid #CCCCCC
        border-radius: 11px
    .close_searchcountry
        cursor: pointer
        position: absolute
        right: 15px    
        top: 20px
.searchcountry
    height:     60px